html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #202020;
    background-image: url("assets/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
}

@font-face {
    font-family: pixel;
    /* src: url("asset/font/px_sans_nouveaux.ttf");*/
    src: url("assets/font/retro_computer_personal_use.ttf");
    /* src: url("asset/font/trs-80-coconut.ttf"); */
}

:root {
    --main-text-color: #2b2b2b;
    --window-border-color: #b9b9b9;
    --title-bar-thickness: 20px;
    --window-vertical-offset: 50px;

    /* --title-bar-color1: #1d63b3;
    --title-bar-color2: #3e7fca; */

    --title-bar-color1: #1463a8;
    --title-bar-color2: #5da1dd;

}

::selection {
    color: none;
    background: none;
}


/* For Mozilla Firefox */

::-moz-selection {
    color: none;
    background: none;
}

.desktop {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
    background-image: url("assets/img/dots.png");
    background-size: 30px;
    opacity: 0.25;
}

.desktop-icon-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -998;
}

.desktop-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    image-rendering: crisp-edges;
    pointer-events: all;
}

.desktop-icon:hover {
    background-color: rgba(29, 100, 180, 0.6)
}

.desktop-icon>img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.container {
    width: 100%;
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
}

.content-viewer {
    width: 100%;
    height: 100%;
    border: 0;
}

.window-container {
    /* width: 720px; */
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border-radius: 1px;
    pointer-events: all;
}

/* Mobile Rule */
@media only screen and (max-width: 600px) {
    .window-container {
        position: static !important;
        width: 100%;
        height: 100%;
    }

    .window-row-holder {
        padding: 0 !important;
    }
}
/* 
@media only screen and (min-width: 1000px) {
    .window-container {
        width: 1000px;
        height: 720px;
    }
}

@media only screen and (min-width: 1600px) {
    .window-container {
        width: 1600px;
    }
} */

.window-content {
    height: 100%;
    letter-spacing: 0.25pt;
    border: 3px ridge var(--window-border-color);
    border-top: none;
    font-size: 14pt;
    color: var(--main-text-color);
}

.window-content>p {
    padding-left: 7px;
    border-left: solid 3px var(--main-text-color);
    text-align: justify;
}

.window-row-holder {
    width: 100%;
    height: 100%;
    padding: var(--window-vertical-offset) 0;
}

.header {
    height: 35px;
}

.hidden {
    display: none;
}

.retro-title-bar {
    height: var(--title-bar-thickness);
    padding: 2px 0;
    background: linear-gradient(to right, var(--title-bar-color1), var(--title-bar-color2));
    border: 3px ridge var(--window-border-color);
    box-shadow: 0 1px 0 #000;
    cursor: grab;
}

.title-bar-title {
    font-family: pixel;
    color: #fdfdfd;
    /* text-transform: uppercase; */
    font-weight: 800;
    margin: 0 5px;
}

.title-bar-button {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: #d4d0c8;
    border: 2px groove #e9e7e3;
    float: right;
    font-family: pixel;
    font-size: 10pt;
}