@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-screen-layout-offset {
    @apply min-w-[4rem] desktop:min-w-[18rem];
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.5s;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter';
}

body {
  @apply bg-zinc-100;
}

h1 {
  @apply text-7xl font-bold;
}

h2 {
  @apply text-4xl font-semibold;
}

h3 {
  @apply text-3xl font-semibold;
}

h4 {
  @apply font-normal;
}